---
import Column from "../../layouts/Column.astro";
---

<section id="brochure" class="pb-4">
  <Column>
    <div
      class="py-[100px] lg:py-[150px] grid grid-cols-2 font-thin lg:text-3xl xl:text-4xl text-stone-700 uppercase"
    >
      <h3 class="py-4 border-b border-stone-700">Conoce más del proyecto</h3>
      <a
        class="py-4 font-black text-stone-600 text-center border border-stone-700 cursor hover:bg-stone-200"
        href="/pdfs/Brochure_Paroissien_4646.pdf"
        target="_blank"
        aria-label="Boton de descarga del Brochure">Descarga el Brochure</a
      >
    </div></Column
  >
</section>
