<li><a href="#info-proyecto">PROYECTO</a></li>
<li><a href="#monoambientes">MONOAMB.</a></li>
<li><a href="#tresambientes">TRES AMB.</a></li>
<li><a href="#duplexs">DUPLEX</a></li>
<li><a href="#ubicacion">UBICACIÓN</a></li>
<li><a href="#contacto">CONTACTO</a></li>
<li>
  <a href="/pdfs/Brochure_Paroissien_4646.pdf" target="_blank">BROCHURE</a>
</li>

<style>
  @reference "../../../styles/global.css";

  li {
    @apply cursor-pointer hover:underline decoration-1
  }
</style>