---
import Contact from "../components/contact/Contact.astro";
import Developers from "../components/developers/Developers.astro";
import Brochure from "../components/brochure/Brochure.astro";
import Footer from "../components/global/footer/Footer.astro";
import Hero from "../components/Hero.astro";
import ProjectInfo from "../components/projectInfo/ProjectInfo.astro";
import Layout from "../layouts/Layout.astro";
import FaceImage from "../components/global/FaceImage.astro";
import Nav from "../components/global/nav/Nav.astro";
---

<Layout>
  <Hero />
  <Developers />
  <div>
    <Nav />
    <ProjectInfo />
    <div class="relative">
      <FaceImage
        objectPosition="bottom-[400px] md:bottom-[785px] lg:bottom-[1560px] lg:object-[40%_50%]"
        size="h-[400px] md:h-[600px] lg:h-[900px]"
        fetchpriority="low"
      />
    </div>
    <Contact />
    <Brochure />
    <Footer />
  </div>
</Layout>
