
<div class="relative my-map-iframe border border-stone-700 h-[240px] md:h-full">
  <div class="absolute inset-0 bg-stone-700"></div>
  <iframe
    class="w-full h-full mix-blend-luminosity"
    src="https://maps.google.com/maps?q=Paroissien%204646%2C%20Ciudad%20Aut%C3%B3noma%20de%20Buenos%20Aires&t=m&z=15&output=embed&iwloc=near"
    title="Paroissien 4646, Ciudad Autónoma de Buenos Aires"
    aria-label="Paroissien 4646, Ciudad Autónoma de Buenos Aires"></iframe>
</div>

<style>
  /* .my-map-iframe {
    filter: invert(80%) grayscale(100%) sepia(50%);
  } */
</style>
