---
import Column from "../../layouts/Column.astro";
import monoambiente from "../../assets/renders/monoambiente.jpg";
import dosAmbientes from "../../assets/renders/dos_ambientes.jpg";
import tresAmbientes from "../../assets/renders/tres_ambientes.jpg";
import tresAmbientesBalcon from "../../assets/renders/tres_ambientes_balcon.jpg";
import Blur from "../global/Blur.astro";
import GalleryItem from "./GalleryItem.astro";

---

<section id="galeria" class="px-4 py-4">
    <div class="grid gap-4 md:grid-cols-2">
      <GalleryItem img={monoambiente} alt="Imagen del interior del departamento monoambiente del proyecto Paroissien 4646" />
      <GalleryItem img={dosAmbientes} alt="Imagen del interior del departamento dos ambientes del proyecto Paroissien 4646" />
      <GalleryItem img={tresAmbientes} alt="Imagen del interior del departamento tres ambientes del proyecto Paroissien 4646" />
      <GalleryItem img={tresAmbientesBalcon} alt="Imagen del interior del departamento tres ambientes del proyecto Paroissien 4646 visto desde el balcón" />
      </div>
    </div>
</section>
