---
const date = new Date();
---

<div class="grid gap-2 w-full text-center text-sm">
    <h4><span class="font-poppins" >{date.getFullYear()}</span> © Axia Baires. Todos los derechos reservados.</h4>
    <h4>
        Website creada por <span class="whitespace-nowrap"><a class="hover:underline" aria-label="Ir la página de Estudio materia" href="https://www.estudiomateria.com.ar/">Materia Arquitectos</a> | <a class="hover:underline" aria-label="Ir al linkedin de Jonathan Libonati"href="https://www.linkedin.com/in/jlibonati/">Jonathan Libonati</a></span>
    </h4>
</div>
