---
import Column from "../../layouts/Column.astro";
import DeveloperItem from "./DeveloperItem.astro";
import logoAxia from "../../assets/logos/logo_axia_baires_banner.png"
import logoMetrocons from "../../assets/logos/logo_metrocons.png";
import logoMateria from "../../assets/logos/logo_materia_banner.png";
---

<section id="desarrolladores" class="py-10 md:py-20 mb-4 bg-stone-200">
  <Column>
    <ul class="flex flex-wrap md:flex-nowrap gap-4 md:gap-8 justify-around">
      <DeveloperItem title="axia baires" img={logoAxia} alt="Logo de Axia Baires" href="https://www.axiabaires.com/" ariaLabel="Ir a pagina de Axia Baires"/>
      <DeveloperItem title="metrocons" img={logoMetrocons} alt="Logo de Metrocons" href="https://www.metrocons.com/" ariaLabel="Ir a pagina de Metrocons" />
      <DeveloperItem title="materia arquitectos" img={logoMateria} alt="Logo de Estudio Materia" href="https://www.estudiomateria.com.ar/" ariaLabel="Ir a pagina de Estudio Materia" />
    </ul>
  </Column>
</section>

