---
import '../styles/global.css' 
---

<!doctype html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Paroissien 4646, desarrollo inmobiliario, Axia Baires, ">
		<meta name="description"
			content="Un proyecto arquitectónico en Saavedra que combina minimalismo, equilibrio y detalle en cada espacio. Paroissien 4646: diseño contemporáneo en Buenos Aires.">
		<meta name="author" content="Jonathan Nicolas Libonati, Estudio Materia">
		<meta name="copyright" content="Axia Baires">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Open graph meta tags-->
		<meta property="og:title" content="Paroissien 4646 | Desarrollo Inmobiliario" />
		<meta property="og:type" content="website" />
		<meta property="og:description"
			content="Un proyecto arquitectónico en Saavedra que combina minimalismo, equilibrio y detalle en cada espacio. Paroissien 4646: diseño contemporáneo en Buenos Aires." />
		<meta property="og:url" content="https://www.paroissien4646.com/" />
		<meta property="og:image" content="https://www.paroissien4646.com/og-image.jpg" />
		<!-- Twitter meta tags-->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Paroissien 4646 | Desarrollo Inmobiliario" />
		<meta name="twitter:description"
			content="Un proyecto arquitectónico en Saavedra que combina minimalismo, equilibrio y detalle en cada espacio. Paroissien 4646: diseño contemporáneo en Buenos Aires." />
		<meta name="twitter:url" content="https://www.paroissien4646.com/" />
		<meta name="twitter:image" content="https://www.paroissien4646.com/og-image.jpg" />
		<!-- icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="manifest" href="/icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Fonts preload -->
		<link rel="preload" href="/fonts/raleway/Raleway-Thin.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/raleway/Raleway-Black.woff2" as="font" type="font/woff2" crossorigin />

		<title>Paroissien 4646 | Desarrollo Inmobiliario</title>
	</head>
	<body class="font-raleway relative max-w-[1920px] left-0 right-0 m-auto">
		<div class="body-div">
			<slot />
		</div>
	</body>
</html>

<style>
	@reference "../styles/global.css";

	html,
	body {
		width: 100%;
		height: 100%;
	}

	@media only screen and (min-width: 1920px) {
		body .body-div {
			@apply border-stone-800 border-l-2 border-r-2
		}
	}
</style>

<style is:global>
    .vhn {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  </style>
