---
import ProjectDuplex from "./ProjectDuplex.astro";
import ProjectInfoGeneral from "./projectInfoGeneral.astro";
import ProjectLocation from "./ProjectLocation.astro";
import ProjectMonoambiente from "./ProjectMonoambiente.astro";
import ProjectTresAmbientes from "./ProjectTresAmbientes.astro";

---

<section id="info-proyecto" class="py-20">
  <ProjectInfoGeneral />
  <ProjectMonoambiente />
  <ProjectTresAmbientes />
  <ProjectDuplex />
  <ProjectLocation />
</section>
