<div class="relative my-map-iframe border border-stone-700 h-full">
  <!-- <div class="absolute inset-0 bg-stone-700"></div> -->
  <iframe
    id="map"
    class="w-full h-full"
    src="https://www.google.com/maps/d/embed?mid=1WFtw5dHLkcmqakR8UCLRl_yfoB6mKm0&ehbc=2E312F&noprof=1&z=15"
    title="Paroissien 4646, Ciudad Autónoma de Buenos Aires"
    aria-label="Paroissien 4646, Ciudad Autónoma de Buenos Aires"></iframe>
</div>

<style>
  .my-map-iframe {
    filter: sepia(3%);
  }
</style>

<script>
  import { isSmall } from "../../helpers/viewports";

  const iframe = document.getElementById("map");

  const setIframeSrc = () => {
    if (isSmall(window)) {
    iframe.src = "https://www.google.com/maps/d/embed?mid=1WFtw5dHLkcmqakR8UCLRl_yfoB6mKm0&ehbc=2E312F&noprof=1&z=14";
    } else {
      iframe.src = "https://www.google.com/maps/d/embed?mid=1WFtw5dHLkcmqakR8UCLRl_yfoB6mKm0&ehbc=2E312F&noprof=1&z=15";
    }
  };

  window.addEventListener("resize", setIframeSrc);
  setIframeSrc();
</script>
